PHARMA_ENV=development
PHARMA_TIMEZONE=Europe/Athens
PHARMA_SCHEME=http
# Backend database connection
PHARMA_BACKEND_POSTGRES_HOST=pharma-db
PHARMA_BACKEND_POSTGRES_PORT=5432
PHARMA_BACKEND_POSTGRES_DB=pharma
PHARMA_BACKEND_POSTGRES_USER=pharma
PHARMA_BACKEND_POSTGRES_PASSWORD=pharma
# Whether to keep the connection alive. Use only for dev.
PHARMA_BACKEND_POSTGRES_KEEP_CONN_ALIVE=true
# Backend Logging
PHARMA_BACKEND_LOGGING=log,debug,error,verbose,warn
# Type orm logging. Use "all" to enable all logging.
# Can also be more fine grained like: "query, error"
PHARMA_BACKEND_TYPEORM_LOGGING=false
# For cache you can use `false` in order to disable
PHARMA_BACKEND_TYPEORM_CACHE_TYPE=ioredis
PHARMA_BACKEND_TYPEORM_REDIS_HOST=redis
PHARMA_BACKEND_TYPEORM_REDIS_PORT=6379
PHARMA_BACKEND_TYPEORM_CACHE_KEEP_DURATION=1000
# Nest debug. Set to true to see dependency injection logs
PHARMA_BACKEND_NEST_DEBUG=
# Whether to validate tokens in the backend. One of online, offline, none.
# Use depending on whether the oauth2-proxy has performed validation or not.
PHARMA_BACKEND_TOKEN_VALIDATION=online
PHARMA_BACKEND_EMD_FETCH_CRONJOB=0 0 * * *
PHARMA_BACKEND_EMD_FETCH_CRONJOB_SLEEP_MS=1000
PHARMA_BACKEND_EMD_USERS_FETCH_CRONJOB=30 0 * * *
# ClientId and ClientSecret
PHARMA_BACKEND_CLIENT_ID=pharma-app
PHARMA_BACKEND_CLIENT_SECRET=
PHARMA_BACKEND_SHORTACCESSTOKEN_DEFAULT_DURATION=P0Y0M5DT00H00M0S
# oauth2-proxy configuration
PHARMA_OAUTH2_PROXY_COOKIE_SECRET=mysecretsecretse
PHARMA_OAUTH2_PROXY_COOKIE_SECURE=false
PHARMA_OAUTH2_PROXY_COOKIE_REFRESH=30m
PHARMA_OAUTH2_PROXY_SHOW_DEBUG_ON_ERROR=true
PHARMA_OAUTH2_PROXY_REDIRECT_URL=http://pharma.test/oauth2/callback
PHARMA_OAUTH2_PROXY_OIDC_ISSUER_URL=http://auth.pharma.test/realms/pharma
PHARMA_OAUTH2_PROXY_PROFILE_URL=http://auth.pharma.test/realms/pharma/protocol/openid-connect/userinfo
PHARMA_OAUTH2_PROXY_REDEEM_URL=http://auth.pharma.test/realms/pharma/protocol/openid-connect/token
PHARMA_OAUTH2_PROXY_WHITELIST_DOMAINS=pharma.test:*,.pharma.test:*
PHARMA_OAUTH2_PROXY_SESSION_STORE_TYPE=redis
PHARMA_OAUTH2_PROXY_REDIS_CONNECTION_URL=redis://redis:6379/
PHARMA_OAUTH2_PROXY_INSECURE_OIDC_ALLOW_UNVERIFIED_EMAIL=true
# Whether to passthrough jwt bearer tokens.
PHARMA_OAUTH2_PROXY_SKIP_JWT_BEARER_TOKENS=false
PHARMA_OAUTH2_PROXY_PASS_ACCESS_TOKEN=true
PHARMA_OAUTH2_PROXY_PASS_AUTHORIZATION_HEADER=
# Keycloak installation configuration
PHARMA_KEYCLOAK_URL=http://auth.pharma.test
PHARMA_KEYCLOAK_REALM=pharma
PHARMA_KEYCLOAK_POSTGRES_DB=keycloak
PHARMA_KEYCLOAK_POSTGRES_USER=keycloak
PHARMA_KEYCLOAK_POSTGRES_PASSWORD=keycloak
PHARMA_KEYCLOAK_USER=admin
PHARMA_KEYCLOAK_PASSWORD=admin
# Compose wait timeout
COMPOSE_HTTP_TIMEOUT=600

